In [ ]:
print(1+2)
print(2*5/2)

3
5.0

In [ ]:
print(4*5/2)

10.0

In [ ]:
age = 18 # 年齢

if age < 20:
  # 未成年の場合
  print("ジュースで乾杯！")
else:
    # 成年の場合
    print("お酒で乾杯！")

ジュースで乾杯！

In [ ]:
print("こんにちは")
print("今日はいい点ですね")

こんにちは
今日はいい点ですね

In [ ]:
print(100)
print (-100)
print(0.11)

100
-100
0.11

In [ ]:
print (True)
print(False)

True
False

In [ ]:
print(45+18)
print(30-12)
print(15*6)
print(36/3)
print(45%8)

63
18
90
12.0
5

In [ ]:
print(type(30/3))

<class 'float'>

In [ ]:
print(45+1.8)
print(3-1.2)
print(15*0.5)
print(3/0.3)
print(45%0.8)

46.8
1.8
7.5
10.0
0.1999999999999975

In [ ]:
print("今日の天気は"+"晴れ")
print("今日の天気は"+"曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
print("降水確率"+50+"％")

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("降水確率"+str(50)+"％")

降水確率50％

In [ ]:
print("晴れ"*5)
print("晴れ"+"晴れ"+"晴れ"+"晴れ"+"晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [ ]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [ ]:
from concurrent.futures import FIRST_COMPLETED
from logging import lastResort
# 整数型と浮動小数点の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name = "侍"
first_namr = "太郎"
print(last_name + first_name)

7.5

NameError: name 'first_name' is not defined

In [ ]:
last_name = "侍"
last_name = "侍"
first_name = "太郎"
sister_name = "花子"
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
#kadai_005_07

upper_base = 10
lower_base = 20
height = 5

area = (upper_base + lower_base) * height / 2

print(f"{area}cm²")

In [ ]:
user_name = ["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]
user_ages = [36,33,29,25,22]
print(user_name[1])
print (user_name[4])

侍一郎
侍四郎

In [ ]:
user_name = ["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]
user_name[1] = "侍花子"
print(user_name[1])

侍花子

In [ ]:
user_name = ["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]
user_name.append("侍五郎")
print(user_name)
user_name.pop(2)
print(user_name)

['侍太郎', '侍一郎', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍一郎', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
user_name = ["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]
print(user_name[1])
user_name[1] = "侍花子"
print(user_name)
user_name.append("侍五郎")
print(user_name)
user_name.pop(2)
print(user_name)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
country_name = ("日本","アメリカ","イギリス","フランス")
print(country_name[2])

イギリス

In [ ]:
print(country_name)
country_name[2] = "ドイツ"

('日本', 'アメリカ', 'イギリス', 'フランス')

TypeError: 'tuple' object does not support item assignment

In [ ]:
country_name = ("日本","アメリカ","イギリス","フランス")
print(country_name[2])
print(country_name)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
prime_number = {2,3,5,7}

In [ ]:
country_name = ("日本","アメリカ","イギリス","フランス")
print(country_name)

('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
prime_number = {2,5,2,7,3,5,5}
print(prime_number)

{2, 3, 5, 7}

In [ ]:
prime_number = {2,3,5,7}
print(prime_number)
print(prime_number[2])

{2, 3, 5, 7}

TypeError: 'set' object is not subscriptable

In [ ]:
prime_number = {2,3,5,7}
print(prime_number)
prime_number.add(11)
print(prime_number)
prime_number.remove(3)
print(prime_number)

{2, 3, 5, 7}
{2, 3, 5, 7, 11}
{2, 5, 7, 11}

In [ ]:
country_name =  {"アメリカ","イギリス","日本","フランス"}
print(country_name)
country_name.add("ドイツ")
print(country_name)
country_name.remove("イギリス")
print(country_name)

{'フランス', 'アメリカ', '日本', 'イギリス'}
{'イギリス', 'フランス', 'ドイツ', 'アメリカ', '日本'}
{'フランス', 'ドイツ', 'アメリカ', '日本'}

In [ ]:
stationery_prices = [70,120,150,90]

In [ ]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}

In [ ]:
user_name = ["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]
user_name[1] = "侍花子"
print(user_name[1])

侍花子

In [ ]:
sports = {1: "サッカー", 2: "野球",  3: "バスケット"}

In [ ]:
sports =  {1: "サッカー", 2: "野球", 2: "バトミントン", 3: "バスケット"}

In [ ]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}
print(stationery_prices["ボールペン"])

120

In [ ]:
sports = {1: "サッカー", 2: "野球",  3: "バスケット"}
sports[2] = "バトミントン"
sports[4] = "水泳"
print(sports)

{1: 'サッカー', 2: 'バトミントン', 3: 'バスケット', 4: '水泳'}

In [ ]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}
stationery_prices.pop("シャープペンシル")
print(stationery_prices)

{'鉛筆': 70, 'ボールペン': 120, '消しゴム': 90}

In [ ]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}
print(personal_data["name"])
print(personal_data)
personal_data["age"] = 37
personal_data["address"] = "東京都"
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [ ]:
#kadai_005

upper_base = 10
lower_base = 20
height = 5

area = (upper_base + lower_base) * height / 2

print(f"{area}cm²")

75.0cm2

In [ ]:
array = ["月曜日は晴れです","火曜日は雨です","水曜日は晴れです","木曜日は晴れです","金曜日は曇りです","土曜日は曇りのち雨です","日曜日は雷雨です"]

In [ ]:
dictionary = {"mon": "晴れ","tue": "晴れ","wed": "晴れ","thu": "晴れ","fri": "曇り","sat": "曇りのち雨","sun": "雷雨"}

In [ ]:
# kadai_007
array = ["月曜日は晴れです","火曜日は雨です","水曜日は晴れです","木曜日は晴れです","金曜日は曇りです","土曜日は曇りのち雨です","日曜日は雷雨です"]
dictionary = {"mon": "晴れ","tue": "晴れ","wed": "晴れ","thu": "晴れ","fri": "曇り","sat": "曇りのち雨","sun": "雷雨"}
print(array[2])
print(dictionary["wed"])

水曜日は晴れです
晴れ

In [ ]:
# kadai_08
var = 5

if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")
elif var % 3 == 0:
    print("Fizz")
elif var % 5 == 0:
    print("Buzz")
else:
    print(var)

Buzz

In [ ]:
# kadai_011 0304_1
array = ["水","金","地","火","木","土","天","海","冥"]
for array in array:
    print(array)

水
金
地
火
木
土
天
海
冥

In [4]:
array = ["水","金","地","火","木","土","天","海","冥"]
index = 0
while index < len(array):
    print(array[index])
    index += 1

水
金
地
火
木
土
天
海
冥

In [4]:
#kadai_014
price1 = 100
price2 = 200

def total():
    tax = 1.1
    return price1 + price2

print (total() * 1.1)

330.0

In [ ]:
# kadai_015_01
class Human:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def printinfo (self):
    print(f"名前: {self.name}, 年齢: {self.age}") 
  
human = Human("太郎",35)

human.printinfo()

名前: 太郎, 年齢: 35

In [1]:
# kadai_17
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def check_adult(self):
        """20以上なら大人、それ以外は大人でないと表示"""
        if self.age >= 20:
            print(f"{self.name}さんは大人です。")
        else:
            print(f"{self.name}さんは大人ではありません。")

# インスタンスリスト
humans = [
    Human("sakuma", 25),
    Human("渡辺", 18),
    Human("宮川", 30),
    Human("sugita", 15)
]

# リスト内の各インスタンスで check_adult メソッドを実行
for human in humans:
    human.check_adult()

sakumaさんは大人です。
渡辺さんは大人ではありません。
宮川さんは大人です。
sugitaさんは大人ではありません。